*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: main-font;
    src: url(/resourses/fonts/Roboto_SemiCondensed-Regular.ttf);
}
body{
    width: 100%;
    height: 1500px;
    font-family: main-font;
    background: linear-gradient(to bottom, #04244e , #010b1a );
}
.logo-img{
    width: 200px;
}
.logo-container{
    margin: 15px;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav{
    font-size: 15px;
    display: flex;
    justify-content: center;
}
.nav-a{
    text-decoration: none;
    margin: 5px;
    padding: 5px;
    color:  white;
    border: 1px solid white;
    border-radius: 10px;
    transition: 0.3s;
}
.nav-a:hover{
    color: #0bb05d;
    border: 1px solid #0bb05d;
}
.line{
    width: 100%;
    background: linear-gradient(to right, #1855ab, #2580ff);
}
main{
    margin-top: 15px;
    justify-self: center;
    width: 80%;
    display: flex;
    justify-content: center;
}
.about_text{
    font-size: 20px;
    color: white;
}
.card-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card{
  display: flex;
  width: 350px;
  border: 2px solid #1855ab;
  border-radius: 10px;
  margin-top: 20px;
}
.card-img{
  width: 100px;
  height: 100px;
  padding: 5px;
  border-right: 2px solid #1855ab;
}
.card-text{
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  margin: 0 auto;
}






































@media(min-width:768px){
    .logo-img{
    width: 300px;
  }
  .nav{
    justify-content: center;
  }
  .nav-a{
    font-size: 20px;
  }
  .about_text{
    font-size: 25px;
  }
  .card-img{
  width: 150px;
  height: 150px;
  }
  .card{
  width: 550px;
  }
  .card-text{
  font-size: 30px;
  }
}
@media(min-width:1024px){
  .nav-a{
    font-size: 25px;
  }
  .about_text{
  font-size: 35px;
  }
  .card-img{
  width: 200px;
  height: 200px;
  }
  .card{
  width: 750px;
  }
  .card-text{
  font-size: 35px;
  }
}
