*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: main-font;
    src: url(/resourses/fonts/Roboto_SemiCondensed-Regular.ttf);
}
body{
    width: 100%;
    height: 1500px;
    font-family: main-font;
    background: linear-gradient(to bottom, #04244e , #010b1a );
}
.logo-img{
    width: 200px;
}
.logo-container{
    margin: 15px;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav{
    font-size: 15px;
    display: flex;
    justify-content: center;
}
.nav-a{
    text-decoration: none;
    margin: 5px;
    padding: 5px;
    color:  white;
    border: 1px solid white;
    border-radius: 10px;
    transition: 0.3s;
}
.nav-a:hover{
    color: #0bb05d;
    border: 1px solid #0bb05d;
}
.line{
    width: 100%;
    background: linear-gradient(to right, #1855ab, #2580ff);
}
main{
    margin-top: 15px;
    justify-self: center;
    width: 80%;
    display: flex;
    justify-content: center;
}
.about_text{
    font-size: 20px;
    color: white;
}
.card-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card{
  width: 350px;
  border: 2px solid #1855ab;
  border-radius: 10px;
  margin-top: 20px;
}
.card-top{
  display: flex;
  border-bottom: 2px solid #1855ab;
}
.desc-btn-container{
  display: flex;
  justify-content: flex-end;
}
.desc-btn{
  font-size: 15px;
  color: white;
  transition: 0.3s;
  margin: 7px;
}
.desc-btn:hover{
  color: #0bb05d;
  cursor: pointer;
}
.card-bottom{
    border-top: 2px solid #1855ab;
}
.card-bottom-list{
  list-style: none;
}
.card-bottom-item{
  color: white;
  font-size: 15px;
  margin: 7px;
}
.card-img{
  width: 100px;
  height: 100px;
  padding: 5px;
  border-right: 2px solid #1855ab;
}
.card-text{
  font-size: 20px;
  color: white;
  align-self: center;
  margin: 0 auto;
}
.card-a{
  text-decoration: none;
  color: #0bb05d;
}
.text-container{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.parameter-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 10px;
}
.parameter-text{
  font-size: 15px;
  color: white;
  list-style: none;
}
.filter-container{
  font-size: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.filter-item{
  width: 160px;
  text-align: center;
  margin: 3px;
  background-color: #04244e;
  color: white;
  border: none;
  border: 1px solid white;
  border-radius: 6px;
  transition: 0.3s;
}
.hidden{
  display: none;
}
.flex{
  display: flex;
}





































@media(min-width:768px){
    .logo-img{
    width: 300px;
  }
  .nav{
    justify-content: center;
  }
  .nav-a{
    font-size: 20px;
  }
  .about_text{
    font-size: 25px;
  }
  .card-img{
  width: 150px;
  height: 150px;
  }
  .card{
  width: 550px;
  }
  .card-text{
  font-size: 30px;
  }
  .parameter-text{
  font-size: 25px;
  }
  .filter-container{
    flex-direction: row;
    justify-content: center;
  }
  .filter-item{
    width: 200px;
    font-size: 17px;
  }
  .desc-btn{
    font-size: 20px;
  }
  .card-bottom-item{
    font-size: 20px;
  }
}
@media(min-width:1024px){
  .nav-a{
    font-size: 25px;
  }
  .about_text{
  font-size: 35px;
  }
  .card-img{
  width: 200px;
  height: 200px;
  }
  .card{
  width: 750px;
  }
  .card-text{
  font-size: 35px;
  }
  .parameter-text{
  font-size: 30px;
  }
  .filter-item{
    width: 250px;
    font-size: 20px;
  }
  .desc-btn{
    font-size: 25px;
  }
  .card-bottom-item{
    font-size: 25px;
  }
}
